/* fonts */
@font-face {
    font-family: SVN-Athena;
    src: url('../fonts/SVN-Athena_0.ttf');
}
@font-face {
    font-family: SVN-Athena-beauty;
    src: url('../fonts/SVN-Artful\ Beauty.ttf');
}

*{
    margin: 0;
    padding: 0;
    outline: none;
}
.page-container{
    width: 100%;
    height: 1507px;

    position: relative;
}
.main-page{
    width: 1920px;
    height: 100%;

    background-image: url('./banner/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0);
}

/* content */
.page-path{
    z-index: 3;
    width: 142px;
    height: 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: 126px;
    left: 320px;
}
.page-path p{
    font-family: SVN-Athena;
    font-size: 18px;
    color: #bebebe;
}
/* paragraph */
.paragraph{
    z-index: 3;
    width: 857px;
    height: 986px;

    position: absolute;
    left: 320px;
    top: 197px;
}
.p-title{
    width: 100%;

    font-family: SVN-Athena;
    font-size: 36px;
    color: #899a29;
    text-align: left;

    position: absolute;
    top: 0px;
}
.p-1{
    width: 100%;
    height: 147px;

    position: absolute;
    top: 70px;
}
.p-1 p{
    font-family: SVN-Athena;
    font-size: 18px;
    color: black;
    text-align: left;
}
.p-1-1{
    position: absolute;
    top: 0px;
}
.p-1-2{
    position: absolute;
    bottom: 0px;
}
.p-intro{
    height: 320px;
    width: 853px;

    background-image: url('./banner/banner-imagine.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 853px 320px;

    position: absolute;
    top: 250px;
}
.p-2{
    width: 100%;
    height: 385px;

    position: absolute;
    bottom: 0px;
}
.p-2 p{
    font-family: SVN-Athena;
    font-size: 18px;
    color: black;
    text-align: left;
}
.p-2-1{
    position: absolute;
    top: 0px;
}
.p-2-2{
    position: absolute;
    top: 108px;
}
.p-2-3{
    position: absolute;
    top: 194px;
}
.p-2-4{
    position: absolute;
    top: 237px;
}
.p-2-5{
    position: absolute;
    bottom: 0px;
}
/* new-para */
.new-para{
    width: 361px;
    height: 489px;

    position: absolute;
    right: 320px;
    top: 199px;
}
.new-para-title{
    height: 22px;
    width: 100%;

    font-family: SVN-Athena;
    font-size: 24px;
    color: black;
    text-align: left;

    position: absolute;
    top: 0px;
}
.new-para-1{
    height: 120px;
    width: 100%;

    position: absolute;
    bottom: 300px;
}
.new-para-1-title{
    height: 55px;
    width: 213px;

    position: absolute;
    right: 0px;
    top: 0px;
}
.new-para-1-title p{
    font-family: SVN-Athena;
    font-size: 18px;
    color: black;
    text-align: left;
}
.new-para-2{
    height: 120px;
    width: 100%;

    position: absolute;
    bottom: 150px;
}
.new-para-2-title{
    height: 55px;
    width: 213px;

    position: absolute;
    right: 0px;
    top: 0px;
}
.new-para-2-title p{
    font-family: SVN-Athena;
    font-size: 18px;
    color: black;
    text-align: left;
}
.new-para-3{
    height: 120px;
    width: 100%;

    position: absolute;
    bottom: 0px;
}
.new-para-3-title{
    height: 55px;
    width: 213px;

    position: absolute;
    right: 0px;
    top: 0px;
}
.new-para-3-title p{
    font-family: SVN-Athena;
    font-size: 18px;
    color: black;
    text-align: left;
}
/* footer */
.footer-container{
    width: 100%;
    height: 212px;

    position: absolute;
}
.footer{
    width: 1920px;
    height: 207px;
    background-color: #f1f1e7;

    background-image: url('./Footer/fotter-tea.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 292px 188px;

    position: absolute;
    bottom: 0px;
}
/* footer content 1 */
.footer-content-1{
    width: 234px;
    height: 140px;

    background-image: url('./Footer/logophongtra.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 183px 54px;

    position: absolute;
    left: 427px;
    top: 30px;
}
.footer-content-1-informations{
    width: 100%;
    height: 67px;

    position: absolute;
    bottom: 0px;
}
.footer-content-1-informations p{
    font-family: SVN-Athena;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
/* footer content 2 */
.footer-content-2{
    width: 166px;
    height: 116px;

    position: absolute;
    left: 854px;
    top: 50px;
}
.footer-content-2-title{
    font-family: SVN-Athena;
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}
.footer-content-2-informations{
    width: 100%;
    height: 64px;

    position: absolute;
    bottom: 0px;
}
.footer-content-2-informations a{
    font-family: SVN-Athena;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}
/* footer content 3 */
.footer-content-3{
    width: 171px;
    height: 116px;

    position: absolute;
    right: 474px;
    top: 50px;
}
.footer-content-3-title{
    font-family: SVN-Athena;
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}
.footer-content-3-imagine-links{
    height: 33px;
    width: 128px;

    display: flex;
    justify-content: space-between;

    position: absolute;
    left: 0px;
    top: 45px;
}
.footer-content-3-imagine-links a img{
    height: 32px;
    width: 32px;
}
.footer-content-3-p{
    height: 25px;
    width: 100%;

    position: absolute;
    bottom: 0px;
}
.footer-content-3-p p{
    font-family: SVN-Athena;
    color: black;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}

@media only screen and (max-width: 1300px) {
    .page-container{
        width: 100%;
        height: 1549px;
    
        position: relative;
    }
    /* header */
    /* content */
    .page-path{
        z-index: 3;
        width: 142px;
        height: 16px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        position: absolute;
        top: 126px;
        left: 320px;
    }
    .page-path p{
        font-family: SVN-Athena;
        font-size: 18px;
        color: #bebebe;
    }

    /* new-para */
    .new-para{
        width: 866px;
        height: 120px;
        position: absolute;
        right: 523px;
        top: 1202px;
    }
    .new-para-1{
        height: 81px;
        width: 36%;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .new-para-2{
        height: 81px;
        width: 69%;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .new-para-3{
        height: 81px;
        width: 100%;
        position: absolute;
        bottom: 0px;
    }
    /* main-paragraph */
    .paragraph{
        z-index: 3;
        width: 857px;
        height: 986px;
        position: absolute;
        left: 532px;
        top: 197px;
    }
}

@media only screen and (max-width: 1250px) {
    /* header */
    /* content */
    .page-path{
        z-index: 3;
        width: 142px;
        height: 16px;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        position: absolute;
        top: 126px;
        left: 400px;
    }
    .page-path p{
        font-family: SVN-Athena;
        font-size: 18px;
        color: #bebebe;
    }
}

@media only screen and (max-width: 1166px) {
    /* header */
    /* content */
    .page-path{
        z-index: 3;
        width: 142px;
        height: 16px;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        position: absolute;
        top: 126px;
        left: 455px;
    }
    .page-path p{
        font-family: SVN-Athena;
        font-size: 18px;
        color: #bebebe;
    }

    /* footer */
    /* footer content 1 */
    .footer-content-1{
        width: 234px;
        height: 140px;

        background-image: url('./Footer/logophongtra.png');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 183px 54px;

        position: absolute;
        left: 537px;
        top: 30px;
    }
    /* footer content 2 */
    .footer-content-2{
        width: 166px;
        height: 116px;

        position: absolute;
        left: 891px;
        top: 50px;
    }
    /* footer content 3 */
    .footer-content-3{
        width: 171px;
        height: 116px;

        position: absolute;
        right: 569px;
        top: 50px;
    }
}

@media only screen and (max-width: 1047px) {
    /* Xử lý toggle Form */
    /* header */
    /* content */
    .page-path{
        z-index: 3;
        width: 142px;
        height: 16px;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        position: absolute;
        top: 126px;
        left: 527px;
    }
    .page-path p{
        font-family: SVN-Athena;
        font-size: 18px;
        color: #bebebe;
    }
}

@media only screen and (max-width: 902px) {
    /* Xử lý toggle Form */
    /* header */
    /* content */
    .page-path{
        z-index: 3;
        width: 142px;
        height: 16px;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        position: absolute;
        top: 126px;
        left: 615px;
    }
    .page-path p{
        font-family: SVN-Athena;
        font-size: 18px;
        color: #bebebe;
    }

    /* paragraph */
    .paragraph{
        z-index: 3;
        width: 711px;
        height: 986px;
        position: absolute;
        left: 608px;
        top: 197px;
    }
    .p-title{
        width: 100%;
        font-family: SVN-Athena;
        font-size: 30px;
        color: #899a29;
        text-align: left;
        position: absolute;
        top: 0px;
    }
    .p-1{
        width: 100%;
        height: 147px;
    
        position: absolute;
        top: 70px;
    }
    .p-1 p{
        font-family: SVN-Athena;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    .p-intro{
        height: 320px;
        width: 711px;
        background-image: url(./banner/banner-imagine.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 711px 300px;
        position: absolute;
        top: 250px;
        left: 0px;
    }
    .p-2{
        width: 100%;
        height: 385px;
    
        position: absolute;
        bottom: 0px;
    }
    .p-2 p{
        font-family: SVN-Athena;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    /* new-para */
    .new-para{
        width: 694px;
        height: 120px;

        position: absolute;
        right: 620px;
        top: 1202px;
    }

    /* footer */
    /* footer content 1 */
    .footer-content-1{
        width: 234px;
        height: 140px;
        background-image: url(./Footer/logophongtra.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 183px 54px;
        position: absolute;
        left: 603px;
        top: 30px;
    }
    /* footer content 2 */
    .footer-content-2{
        width: 166px;
        height: 116px;
        position: absolute;
        left: 899px;
        top: 50px;
    }
    /* footer content 3 */
    .footer-content-3{
        width: 171px;
        height: 116px;
        position: absolute;
        right: 631px;
        top: 50px;
    }
}

@media only screen and (max-width: 728px) {
    /* Xử lý toggle Form */
    /* header */
    /* content */
    .page-path{
        z-index: 3;
        width: 142px;
        height: 16px;
            
         display: flex;
        align-items: center;
        justify-content: space-between;
            
        position: absolute;
        top: 126px;
        left: 715px;
    }
    .page-path p{
        font-family: SVN-Athena;
        font-size: 18px;
        color: #bebebe;
    }

    /* paragraph */
    .paragraph{
        z-index: 3;
        width: 610px;
        height: 995px;
        position: absolute;
        left: 654px;
        top: 197px;
    }
    .p-title{
        width: 100%;
        font-family: SVN-Athena;
        font-size: 29px;
        color: #899a29;
        text-align: left;
        position: absolute;
        top: 0px;
    }
    .p-1{
        width: 100%;
        height: 168px;
    
        position: absolute;
        top: 70px;
    }
    .p-1 p{
        font-family: SVN-Athena;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    .p-intro{
        height: 320px;
        width: 609px;
        background-image: url(./banner/banner-imagine.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 711px 300px;
        position: absolute;
        top: 250px;
        left: 0px;
    }
    .p-2{
        width: 100%;
        height: 385px;
    
        position: absolute;
        bottom: 0px;
    }
    .p-2 p{
        font-family: SVN-Athena;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    /* new-para */
    .new-para{
        width: 624px;
        height: 120px;
        position: absolute;
        right: 627px;
        top: 1202px;
    }
    /* new - para-1 */
    .new-para-1{
        height: 81px;
        width: 34%;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .new-para-1-title{
        height: 55px;
        width: 213px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .new-para-1-title p{
        font-family: SVN-Athena;
        font-size: 17px;
        color: black;
        text-align: left;
    }
    /* new-para - 2 */
    .new-para-2{
        height: 81px;
        width: 66%;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .new-para-2-title{
        height: 55px;
        width: 213px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .new-para-2-title p{
        font-family: SVN-Athena;
        font-size: 16px;
        color: black;
        text-align: left;
    }
    /* new-para -3  */
    .new-para-3{
        height: 81px;
        width: 100%;
        position: absolute;
        bottom: 0px;
    }
    .new-para-3-title{
        height: 55px;
        width: 213px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .new-para-3-title p{
        font-family: SVN-Athena;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    /* footer */
    /* footer content 1 */
    .footer-content-1{
        width: 234px;
        height: 140px;
        background-image: url(./Footer/logophongtra.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 183px 54px;
        position: absolute;
        left: 663px;
        top: 30px;
    }
    /* footer content 2 */
    .footer-content-2{
        width: 166px;
        height: 116px;
        position: absolute;
        left: 910px;
        top: 50px;
    }
    /* footer content 3 */
    .footer-content-3{
        width: 171px;
        height: 116px;
        position: absolute;
        right: 652px;
        top: 50px;
    }
}

@media only screen and (max-width: 668px) {

    /* paragraph */
    .paragraph{
        z-index: 3;
        width: 546px;
        height: 995px;
        position: absolute;
        left: 698px;
        top: 197px;
    }
    .p-title{
        width: 100%;
        font-family: SVN-Athena;
        font-size: 29px;
        color: #899a29;
        text-align: left;
        position: absolute;
        top: 0px;
    }
    .p-1{
        width: 100%;
        height: 168px;
    
        position: absolute;
        top: 70px;
    }
    .p-1 p{
        font-family: SVN-Athena;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    .p-intro{
        height: 320px;
        width: 547px;
        background-image: url(./banner/banner-imagine.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 711px 300px;
        position: absolute;
        top: 250px;
        left: 0px;
    }
    .p-2{
        width: 100%;
        height: 385px;
    
        position: absolute;
        bottom: 0px;
    }
    .p-2 p{
        font-family: SVN-Athena;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    /* new-para */
    .new-para{
        width: 556px;
        height: 120px;
        position: absolute;
        right: 671px;
        top: 1202px;
    }
    /* new - para-1 */
    .new-para-1{
        height: 81px;
        width: 29%;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .new-para-1-title{
        height: 55px;
        width: 158px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .new-para-1-title p{
        font-family: SVN-Athena;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    /* new-para - 2 */
    .new-para-2{
        height: 81px;
        width: 60%;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .new-para-2-title{
        height: 55px;
        width: 173px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .new-para-2-title p{
        font-family: SVN-Athena;
        font-size: 16px;
        color: black;
        text-align: left;
    }
    /* new-para -3  */
    .new-para-3{
        height: 81px;
        width: 95%;
        position: absolute;
        bottom: 0px;
    }
    .new-para-3-title{
        height: 55px;
        width: 159px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .new-para-3-title p{
        font-family: SVN-Athena;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    /* footer */
    /* footer content 1 */
    .footer-content-1{
        width: 234px;
        height: 140px;
        background-image: url(./Footer/logophongtra.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 183px 54px;
        position: absolute;
        left: 689px;
        top: 30px;
    }
    /* footer content 2 */
    .footer-content-2{
        width: 166px;
        height: 116px;
        position: absolute;
        left: 924px;
        top: 50px;
    }
    /* footer content 3 */
    .footer-content-3{
        width: 171px;
        height: 116px;
        position: absolute;
        right: 652px;
        top: 50px;
    }
}

@media only screen and (max-width: 636px) {
    .page-container {
        width: 100%;
        height: 1732px;
        position: relative;
    }
    /* footer */
    .footer {
        width: 1920px;
        height: 417px;
        background-color: #f1f1e7;
        background-image: url(./Footer/fotter-tea.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 292px 188px;
        position: absolute;
        bottom: 0px;
    }
    /* footer content 1 */
    .footer-content-1{
        width: 234px;
        height: 140px;

        background-image: url(./Footer/logophongtra.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 183px 54px;

        position: absolute;
        left: 820px;
        top: 30px;
    }
    /* footer content 2 */
    .footer-content-2{
        width: 166px;
        height: 116px;
        position: absolute;
        left: 820px;
        top: 177px;
    }
    /* footer content 3 */
    .footer-content-3{
        width: 171px;
        height: 116px;
        position: absolute;
        left: 820px;
        top: 296px;
    }
}

@media only screen and (max-width: 569px) {
    /* 346 px  */
    .page-container {
        width: 100%;
        height: 1907px;
        position: relative;
    }
    .page-path {
        z-index: 3;
        width: 142px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 126px;
        left: 775px;
    }
    /* paragraph */
    .paragraph{
        z-index: 3;
        width: 400px;
        height: 995px;
        position: absolute;
        left: 767px;
        top: 197px;
        background-color: whitesmoke;
    }
    .p-title{
        width: 100%;
        font-family: SVN-Athena;
        font-size: 29px;
        color: #899a29;
        text-align: left;
        position: absolute;
        top: 0px;
    }
    .p-1{
        width: 100%;
        height: 216px;
        position: absolute;
        top: 70px;
    }
    .p-1-1{
        position: absolute;
        top: 0px;
    }
    .p-1-2{
        position: absolute;
        bottom: 0px;
    }
    .p-1 p{
        font-family: SVN-Athena;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    .p-intro{
        height: 211px;
        width: 400px;
        background-image: url(./banner/banner-imagine.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 711px 300px;
        position: absolute;
        top: 287px;
        left: 0px;
    }
    .p-2{
        width: 100%;
        height: 501px;
        position: absolute;
        bottom: 0px;
    }
    .p-2-1{
        position: absolute;
        top: 0px;
    }
    .p-2-2{
        position: absolute;
        top: 140px;
    }
    .p-2-3{
        position: absolute;
        top: 262px;
    }
    .p-2-4{
        position: absolute;
        top: 286px;
    }
    .p-2-5{
        position: absolute;
        bottom: 0px;
    }
    .p-2 p{
        font-family: SVN-Athena;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    /* new-para */
    .new-para{
        width: 481px;
        height: 289px;
        position: absolute;
        right: 674px;
        top: 1202px;
        background-color: whitesmoke;
    }
    /* new - para-1 */
    .new-para-1{
        height: 81px;
        width: 163px;
        position: absolute;
        left: 0px;
        bottom: 159px;
    }
    .new-para-1-title{
        height: 55px;
        width: 158px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .new-para-1-title p{
        font-family: SVN-Athena;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    /* new-para - 2 */
    .new-para-2{
        height: 81px;
        width: 179px;
        position: absolute;
        left: 0px;
        bottom: 82px;
    }
    .new-para-2-title{
        height: 55px;
        width: 173px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .new-para-2-title p{
        font-family: SVN-Athena;
        font-size: 16px;
        color: black;
        text-align: left;
    }
    /* new-para -3  */
    .new-para-3{
        height: 81px;
        width: 165px;
        position: absolute;
        bottom: 0px;
    }
    .new-para-3-title{
        height: 55px;
        width: 159px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .new-para-3-title p{
        font-family: SVN-Athena;
        font-size: 15px;
        color: black;
        text-align: left;
    }
}

@media only screen and (max-width: 440px) {
    /* 346 px  */
    .page-container {
        width: 100%;
        height: 1907px;
        position: relative;
    }
    
    .page-path {
        z-index: 3;
        width: 142px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 126px;
        left: 775px;
    }
    /* paragraph */
    .paragraph{
        z-index: 3;
        width: 400px;
        height: 995px;
        position: absolute;
        left: 767px;
        top: 197px;
        background-color: whitesmoke;
    }
    .p-title{
        width: 100%;
        font-family: SVN-Athena;
        font-size: 29px;
        color: #899a29;
        text-align: left;
        position: absolute;
        top: 0px;
    }
    .p-1{
        width: 100%;
        height: 216px;
        position: absolute;
        top: 70px;
    }
    .p-1-1{
        position: absolute;
        top: 0px;
    }
    .p-1-2{
        position: absolute;
        bottom: 0px;
    }
    .p-1 p{
        font-family: SVN-Athena;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    .p-intro{
        height: 211px;
        width: 400px;
        background-image: url(./banner/banner-imagine.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 711px 300px;
        position: absolute;
        top: 287px;
        left: 0px;
    }
    .p-2{
        width: 100%;
        height: 501px;
        position: absolute;
        bottom: 0px;
    }
    .p-2-1{
        position: absolute;
        top: 0px;
    }
    .p-2-2{
        position: absolute;
        top: 140px;
    }
    .p-2-3{
        position: absolute;
        top: 262px;
    }
    .p-2-4{
        position: absolute;
        top: 286px;
    }
    .p-2-5{
        position: absolute;
        bottom: 0px;
    }
    .p-2 p{
        font-family: SVN-Athena;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    /* new-para */
    .new-para{
        width: 481px;
        height: 289px;
        position: absolute;
        right: 674px;
        top: 1202px;
        background-color: whitesmoke;
    }
    /* new - para-1 */
    .new-para-1{
        height: 81px;
        width: 163px;
        position: absolute;
        left: 0px;
        bottom: 159px;
    }
    .new-para-1-title{
        height: 55px;
        width: 158px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .new-para-1-title p{
        font-family: SVN-Athena;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    /* new-para - 2 */
    .new-para-2{
        height: 81px;
        width: 179px;
        position: absolute;
        left: 0px;
        bottom: 82px;
    }
    .new-para-2-title{
        height: 55px;
        width: 173px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .new-para-2-title p{
        font-family: SVN-Athena;
        font-size: 16px;
        color: black;
        text-align: left;
    }
    /* new-para -3  */
    .new-para-3{
        height: 81px;
        width: 165px;
        position: absolute;
        bottom: 0px;
    }
    .new-para-3-title{
        height: 55px;
        width: 159px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .new-para-3-title p{
        font-family: SVN-Athena;
        font-size: 15px;
        color: black;
        text-align: left;
    }
}


