/* fonts */
@font-face {
    font-family: SVN-Athena;
    src: url('../fonts/SVN-Athena_0.ttf');
}
@font-face {
    font-family: SVN-Athena-beauty;
    src: url('../fonts/SVN-Artful\ Beauty.ttf');
}

*{
    margin: 0;
    padding: 0;
    outline: none;
}
.gioithieu-footer-container{
    width: 100%;
    height: 212px;

    position: relative;
}

/* bottom header */
.bottom-header-titles{
    height: 95px;
    width: 337px;

    position: absolute;
    left: 427px;
    top: 366px;
}
.bottom-header-title-1{
    font-family: SVN-Athena;
    color: #aabc44;
    font-size: 36px;
    height: 21px;
    width: 186px;
    font-weight: lighter;
    text-align: left;
}
.bottom-header-title-2{
    font-family: SVN-Athena;
    height: 2px;
    width: 336px;
    color: black;
    font-size: 69px;
    font-weight: lighter;
    text-align: left;
}
/* banner 1 */
.gioithieu-wrapper-1{
    width: 100%;
    height: 1603px;

    position: relative;
}
.gioithieu-banner-1{
    width: 1920px;
    height: 100%;

    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0);
}
.gioithieu-banner-1-background-imagine{
    height: 754px;
    width: 1920px;

    background-image: url('./banner-1/banner-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1920px 754px;

    position: absolute;
    top: 225px;
}
.gioithieu-banner-1-para{
    height: 100%;
    /* height: 2000px; */
    width: 1068px;

    position: absolute;
    left: 427px;
    bottom: 0px;
}
.gioithieu-banner-1-para-title{
    height: 41px;
    width: 100%;

    font-family: SVN-Athena;
    color: black;
    font-size: 48px;
    font-weight: bold;
    text-align: center;

    position: absolute;
    top: 62px;
}
.gioithieu-banner-1-para-1{
    height: 196px;
    width: 100%;

    position: absolute;
    top: 149px;
}
.gioithieu-banner-1-para-1 p{
    font-family: SVN-Athena;
    color: black;
    font-size: 24px;
    font-weight: light;
    text-align: left;
}
.gioithieu-banner-1-para-1-1{
    position: absolute;
    top: 0px;
}
.gioithieu-banner-1-para-1-2{
    position: absolute;
    bottom: 0px;
}
.gioithieu-banner-1-para-intro-1{
    height: 298px;
    width: 1068px;

    background-image: url('./banner-1/intro1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1068px 298px;

    position: absolute;
    top: 403px;
}
.gioithieu-banner-1-para-2{
    height: 398px;
    width: 1068px;

    position: absolute;
    top: 763px;
}
.gioithieu-banner-1-para-2 p{
    font-family: SVN-Athena;
    color: black;
    font-size: 24px;
    font-weight: light;
    text-align: left;
}
.gioithieu-banner-1-para-2-1{
    position: absolute;
    top: 0px;
}
.gioithieu-banner-1-para-2-2{
    position: absolute;
    bottom: 0px;
}
.gioithieu-banner-1-para-intro-2{
    height: 298px;
    width: 1068px;

    background-image: url('./banner-1/intro2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1068px 298px;

    position: absolute;
    bottom: 83px;
}
/* footer */
.gioithieu-footer{
    width: 1920px;
    height: 100%;
    background-color: #f1f1e7;

    background-image: url('./Footer/fotter-tea.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 292px 188px;

    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0);
}
/* footer content 1 */
.gioithieu-footer-content-1{
    width: 234px;
    height: 140px;

    background-image: url('./Footer/logophongtra.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 183px 54px;

    position: absolute;
    left: 427px;
    top: 30px;
}
.gioithieu-footer-content-1-informations{
    width: 100%;
    height: 67px;

    position: absolute;
    bottom: 0px;
}
.gioithieu-footer-content-1-informations p{
    font-family: SVN-Athena;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
/* footer content 2 */
.gioithieu-footer-content-2{
    width: 166px;
    height: 116px;

    position: absolute;
    left: 854px;
    top: 50px;
}
.gioithieu-footer-content-2-title{
    font-family: SVN-Athena;
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}
.gioithieu-footer-content-2-informations{
    width: 100%;
    height: 64px;

    position: absolute;
    bottom: 0px;
}
.gioithieu-footer-content-2-informations a{
    font-family: SVN-Athena;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}
/* footer content 3 */
.gioithieu-footer-content-3{
    width: 171px;
    height: 116px;

    position: absolute;
    right: 474px;
    top: 50px;
}
.gioithieu-footer-content-3-title{
    font-family: SVN-Athena;
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}
.gioithieu-footer-content-3-imagine-links{
    height: 33px;
    width: 128px;

    display: flex;
    justify-content: space-between;

    position: absolute;
    left: 0px;
    top: 45px;
}
.youtube-image-link{
    height: 32px;
    width: 32px;
    
    background-image: url('./Footer/youtube-imagine-link.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.insta-image-link{
    height: 32px;
    width: 32px;
    
    background-image: url('./Footer/insta-imagine-link.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.facebook-image-link{
    height: 32px;
    width: 32px;
    
    background-image: url('./Footer/facebook-imagine-link.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.gioithieu-footer-content-3-p{
    height: 25px;
    width: 100%;

    position: absolute;
    bottom: 0px;
}
.gioithieu-footer-content-3-p p{
    font-family: SVN-Athena;
    color: black;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}

@media only screen and (max-width: 1300px){
    /* top header */
    .bottom-header-titles{
        height: 95px;
        width: 337px;
    
        position: absolute;
        left: 427px;
        top: 366px;
    }
}

@media only screen and (max-width: 1138px){
    /* top header */
    .bottom-header-titles{
        height: 95px;
        width: 337px;

        position: absolute;
        left: 853px;
        top: 366px;
    }

    
}

@media only screen and (max-width: 1056px){  
    /* top header */
    /* banner 1 */
    .gioithieu-wrapper-1{
        width: 100%;
        height: 1692px;
        position: relative;
    }
    .gioithieu-banner-1{
        width: 1920px;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%,0);
    }
    .gioithieu-banner-1-background-imagine{
        height: 754px;
        width: 1920px;
        background-image: url(./banner-1/banner-background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1920px 754px;
        position: absolute;
        top: 225px;
    }
    .gioithieu-banner-1-para{
        height: 100%;
        width: 852px;
        position: absolute;
        left: 534px;
        bottom: 0px;
    }
    .gioithieu-banner-1-para-title{
        height: 41px;
        width: 100%;

        font-family: SVN-Athena;
        color: black;
        font-size: 48px;
        font-weight: bold;
        text-align: center;

        position: absolute;
        top: 33px;
    }
    .gioithieu-banner-1-para-1{
        height: 255px;
        width: 100%;
        position: absolute;
        top: 132px;
    }
    .gioithieu-banner-1-para-1 p{
        font-family: SVN-Athena;
        color: black;
        font-size: 24px;
        font-weight: light;
        text-align: left;
    }
    .gioithieu-banner-1-para-1-1{
        position: absolute;
        top: 0px;
    }
    .gioithieu-banner-1-para-1-2{
        position: absolute;
        bottom: 0px;
    }
    .gioithieu-banner-1-para-intro-1{
        height: 298px;
        width: 100%;

        background-image: url(./banner-1/intro1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 298px;

        position: absolute;
        top: 403px;
        left: 0px;
    }
    .gioithieu-banner-1-para-2{
        height: 568px;
        width: 100%;

        position: absolute;
        top: 719px;
    }
    .gioithieu-banner-1-para-2 p{
        font-family: SVN-Athena;
        color: black;
        font-size: 24px;
        font-weight: light;
        text-align: left;
    }
    .gioithieu-banner-1-para-2-1{
        position: absolute;
        top: 0px;
    }
    .gioithieu-banner-1-para-2-2{
        position: absolute;
        bottom: 0px;
    }
    .gioithieu-banner-1-para-intro-2{
        height: 298px;
        width: 100%;

        background-image: url(./banner-1/intro2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 298px;

        position: absolute;
        bottom: 83px;
    }

    /* footer */
    /* footer content 1 */
    .gioithieu-footer-1-content-1{
        width: 234px;
        height: 140px;

        background-image: url('./Footer/logophongtra.png');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 183px 54px;

        position: absolute;
        left: 543px;
        top: 30px;
    }
    /* footer content 2 */
    .gioithieu-footer-1-content-2{
        width: 166px;
        height: 116px;

        position: absolute;
        left: 854px;
        top: 50px;
    }
    /* footer content 3 */
    .gioithieu-footer-1-content-3{
        width: 171px;
        height: 116px;

        position: absolute;
        right: 584px;
        top: 50px;
    }
}

@media only screen and (max-width: 928px){
    /* top header */
    /* banner 1 */
    .gioithieu-wrapper-1{
        width: 100%;
        height: 1692px;
        position: relative;
    }
    .gioithieu-banner-1{
        width: 1920px;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%,0);
    }
    .gioithieu-banner-1-background-imagine{
        height: 754px;
        width: 1920px;
        background-image: url(./banner-1/banner-background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1920px 754px;
        position: absolute;
        top: 225px;
    }
    .gioithieu-banner-1-para{
        height: 100%;
        width: 676px;
        position: absolute;
        left: 626px;
        bottom: 0px;
    }
    .gioithieu-banner-1-para-title{
        height: 41px;
        width: 100%;
        font-family: SVN-Athena;
        color: black;
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        position: absolute;
        top: 8px;
    }
    .gioithieu-banner-1-para-1{
        height: 309px;
        width: 100%;
        position: absolute;
        top: 71px;
    }
    .gioithieu-banner-1-para-intro-2 {
        height: 298px;
        width: 100%;
        background-image: url(./banner-1/intro2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 298px;
        position: absolute;
        bottom: 10px;
    }
    .gioithieu-banner-1-para-2{
        height: 659px;
        width: 100%;
        position: absolute;
        top: 719px;
    }

    /* footer */
    /* footer content 1 */
    .gioithieu-footer-1-content-1{
        width: 234px;
        height: 140px;

        background-image: url(./Footer/logophongtra.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 183px 54px;

        position: absolute;
        left: 626px;
        top: 30px;
    }
    /* footer content 2 */
    .gioithieu-footer-1-content-2{
        width: 166px;
        height: 116px;

        position: absolute;
        left: 880px;
        top: 50px;
    }
    /* footer content 3 */
    .gioithieu-footer-1-content-3{
        width: 171px;
        height: 116px;

        position: absolute;
        right: 623px;
        top: 50px;
    }
}

@media only screen and (max-width: 807px){
    /* top header */
    
}

/* Respon for paragraphs */
@media only screen and (min-width: 482px) and (max-width: 710px){
    /* banner 1 */
    .gioithieu-wrapper-1{
        width: 100%;
        height: 2077px;

        position: relative;
    }
    .gioithieu-banner-1{
        width: 1920px;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%,0);
    }
    .gioithieu-banner-1-background-imagine{
        height: 754px;
        width: 1920px;
        background-image: url(./banner-1/banner-background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1920px 754px;
        position: absolute;
        top: 225px;
    }
    .gioithieu-banner-1-para{
        height: 100%;
        width: 452px;
        position: absolute;
        left: 735px;
        bottom: 17px;
    }
    .gioithieu-banner-1-para-title{
        height: 41px;
        width: 100%;
        font-family: SVN-Athena;
        color: black;
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        position: absolute;
        top: 8px;
    }
    .gioithieu-banner-1-para-1{
        height: 451px;
        width: 100%;

        position: absolute;
        top: 71px;
    }
    .gioithieu-banner-1-para-1 p{
        font-family: SVN-Athena;
        color: black;
        font-size: 24px;
        font-weight: light;
        text-align: left;
    }
    .gioithieu-banner-1-para-1-1{
        position: absolute;
        top: 0px;
    }
    .gioithieu-banner-1-para-1-2{
        position: absolute;
        bottom: 0px;
    }
    .gioithieu-banner-1-para-intro-1{
        height: 250px;
        width: 100%;

        background-image: url(./banner-1/intro1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;

        position: absolute;
        top: 540px;
        left: 0px;
    }
    .gioithieu-banner-1-para-2{
        height: 959px;
        width: 100%;

        position: absolute;
        top: 788px;
    }
    .gioithieu-banner-1-para-2 p{
        font-family: SVN-Athena;
        color: black;
        font-size: 24px;
        font-weight: light;
        text-align: left;
    }
    .gioithieu-banner-1-para-2-1{
        position: absolute;
        top: 0px;
    }
    .gioithieu-banner-1-para-2-2{
        position: absolute;
        bottom: 0px;
    }
    .gioithieu-banner-1-para-intro-2{
        height: 298px;
        width: 100%;
        background-image: url(./banner-1/intro2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 298px;
        position: absolute;
        bottom: 10px;
    }
    /* footer */
    .gioithieu-footer-1{
        width: 1920px;
        height: 100%;
        background-color: #f1f1e7;
        background-image: url(./Footer/fotter-tea.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 292px 188px;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%,0);
    }
    /* footer content 1 */
    .gioithieu-footer-1-content-1{
        width: 183px;
        height: 117px;

        background-image: url(./Footer/logophongtra.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 150px 40px;

        position: absolute;
        left: 738px;
        top: 63px;
    }
    .gioithieu-footer-1-content-1-informations{
        width: 100%;
        height: 67px;

        position: absolute;
        bottom: 0px;
    }
    .gioithieu-footer-1-content-1-informations p{
        font-family: SVN-Athena;
        color: black;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
    }
    /* footer content 2 */
    .gioithieu-footer-1-content-2{
        width: 166px;
        height: 86px;

        position: absolute;
        left: 917px;
        top: 70px;
    }
    .gioithieu-footer-1-content-2-title{
        font-family: SVN-Athena;
        color: black;
        font-size: 17px;
        font-weight: bold;
        text-align: left;
    }
    .gioithieu-footer-1-content-2-informations{
        width: 100%;
        height: 64px;

        position: absolute;
        bottom: 0px;
    }
    .gioithieu-footer-1-content-2-informations a{
        font-family: SVN-Athena;
        color: black;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        text-decoration: none;
    }
    /* footer content 3 */
    .gioithieu-footer-1-content-3{
        width: 171px;
        height: 97px;

        position: absolute;
        left: 1044px;
        top: 68px;
    }
    .gioithieu-footer-1-content-3-title{
    font-family: SVN-Athena;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    }
    .gioithieu-footer-1-content-3-imagine-links{
        height: 33px;
        width: 98px;

        display: flex;
        justify-content: space-between;

        position: absolute;
        left: 0px;
        top: 35px;
    }
    .gioithieu-footer-1-content-3-imagine-links a img{
        height: 32px;
        width: 32px;
    }
    .gioithieu-footer-1-content-3-p{
        height: 25px;
        width: 100%;
        position: absolute;
        bottom: 0px;
    }
    .gioithieu-footer-1-content-3-p p{
        font-family: SVN-Athena;
        color: black;
        font-size: 10px;
        font-weight: bold;
        text-align: left;
        text-decoration: none;
    }
}

@media only screen and (min-width: 300px) and (max-width: 481.99px){
    .bottom-header-titles {
        height: 95px;
        width: 337px;
        position: absolute;
        left: 829px;
        top: 118px;
    }
    .bottom-header-title-1 {
        font-family: SVN-Athena;
        color: #aabc44;
        font-size: 30px;
        height: 21px;
        width: 186px;
        font-weight: lighter;
        text-align: left;
    }
    .bottom-header-title-2 {
        font-family: SVN-Athena;
        height: 2px;
        width: 336px;
        color: black;
        font-size: 55px;
        font-weight: lighter;
        text-align: left;
    }
    /* banner 1 */
    .gioithieu-wrapper-1{
        width: 100%;
        height: 2659px;

        position: relative;
    }
    .gioithieu-banner-1{
        width: 1920px;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%,0);
    }
    .gioithieu-banner-1-background-imagine{
        height: 754px;
        width: 1920px;
        background-image: url(./banner-1/banner-background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1920px 754px;
        position: absolute;
        top: 225px;
    }
    .gioithieu-banner-1-para{
        height: 100%;
        width: 267px;
        position: absolute;
        left: 827px;
        bottom: 17px;
    }
    .gioithieu-banner-1-para-title{
        height: 41px;
        width: 100%;
        font-family: SVN-Athena;
        color: black;
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        position: absolute;
        top: 0px;
    }
    .gioithieu-banner-1-para-1{
        height: 793px;
        width: 100%;
        position: absolute;
        top: 71px;
    }
    .gioithieu-banner-1-para-1 p{
        font-family: SVN-Athena;
        color: black;
        font-size: 24px;
        font-weight: light;
        text-align: left;
    }
    .gioithieu-banner-1-para-1-1{
        position: absolute;
        top: 0px;
    }
    .gioithieu-banner-1-para-1-2{
        position: absolute;
        bottom: 0px;
    }
    .gioithieu-banner-1-para-intro-1{
        height: 250px;
        width: 100%;

        background-image: url(./banner-1/intro1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;

        position: absolute;
        top: 872px;
        left: 0px;
    }
    .gioithieu-banner-1-para-2{
        height: 1653px;
        width: 100%;

        position: absolute;
        top: 1124px;
    }
    .gioithieu-banner-1-para-2 p{
        font-family: SVN-Athena;
        color: black;
        font-size: 24px;
        font-weight: light;
        text-align: left;
    }
    .gioithieu-banner-1-para-2-1{
        position: absolute;
        top: 0px;
    }
    .gioithieu-banner-1-para-2-2{
        position: absolute;
        bottom: 0px;
    }
    .gioithieu-banner-1-para-intro-2{
        display: none;
    }
    /* footer */
    .gioithieu-footer-1-container {
        width: 100%;
        height: 335px;
        position: relative;
    }
    .gioithieu-footer-1{
        width: 1920px;
        height: 100%;

        background-color: #f1f1e7;
        background-image: url(./Footer/fotter-tea.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 292px 188px;

        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%,0);
    }
    /* footer content 1 */
    .gioithieu-footer-1-content-1{
        width: 183px;
        height: 117px;

        background-image: url(./Footer/logophongtra.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 150px 40px;

        position: absolute;
        left: 887px;
        top: 11px;  
    }
    .gioithieu-footer-1-content-1-informations{
        width: 100%;
        height: 67px;

        position: absolute;
        bottom: 0px;
    }
    .gioithieu-footer-1-content-1-informations p{
        font-family: SVN-Athena;
        color: black;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
    }
    /* footer content 2 */
    .gioithieu-footer-1-content-2{
        width: 166px;
        height: 86px;

        position: absolute;
        left: 887px;
        top: 129px;
    }
    .gioithieu-footer-1-content-2-title{
        font-family: SVN-Athena;
        color: black;
        font-size: 17px;
        font-weight: bold;
        text-align: left;
    }
    .gioithieu-footer-1-content-2-informations{
        width: 100%;
        height: 64px;

        position: absolute;
        bottom: 0px;
    }
    .gioithieu-footer-1-content-2-informations a{
        font-family: SVN-Athena;
        color: black;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        text-decoration: none;
    }
    /* footer content 3 */
    .gioithieu-footer-1-content-3{
        width: 171px;
        height: 97px;

        position: absolute;
        left: 887px;
        top: 231px;
    }
    .gioithieu-footer-1-content-3-title{
        font-family: SVN-Athena;
        color: black;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        text-decoration: none;
    }
    .gioithieu-footer-1-content-3-imagine-links{
        height: 33px;
        width: 98px;

        display: flex;
        justify-content: space-between;

        position: absolute;
        left: 0px;
        top: 35px;
    }
    .gioithieu-footer-1-content-3-imagine-links a img{
        height: 32px;
        width: 32px;
    }
    .gioithieu-footer-1-content-3-p{
        height: 25px;
        width: 100%;
        position: absolute;
        bottom: 0px;
    }
    .gioithieu-footer-1-content-3-p p{
        font-family: SVN-Athena;
        color: black;
        font-size: 10px;
        font-weight: bold;
        text-align: left;
        text-decoration: none;
    }
}

@media only screen and (min-width: 225px) and (max-width: 299.99px){
    .bottom-header-titles {
        height: 95px;
        width: 337px;
        position: absolute;
        left: 829px;
        top: 118px;
    }
    .bottom-header-title-1 {
        font-family: SVN-Athena;
        color: #aabc44;
        font-size: 30px;
        height: 21px;
        width: 186px;
        font-weight: lighter;
        text-align: left;
    }
    .bottom-header-title-2 {
        font-family: SVN-Athena;
        height: 2px;
        width: 336px;
        color: black;
        font-size: 55px;
        font-weight: lighter;
        text-align: left;
    }
    /* banner 1 */
    .gioithieu-wrapper-1{
        width: 100%;
        height: 2659px;

        position: relative;
    }
    .gioithieu-banner-1{
        width: 1920px;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%,0);
    }
    .gioithieu-banner-1-background-imagine{
        height: 754px;
        width: 1920px;
        background-image: url(./banner-1/banner-background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1920px 754px;
        position: absolute;
        top: 225px;
    }
    .gioithieu-banner-1-para{
        height: 100%;
        width: 267px;
        position: absolute;
        left: 827px;
        bottom: 142px;
    }
    .gioithieu-banner-1-para-title{
        height: 41px;
        width: 100%;
        font-family: SVN-Athena;
        color: black;
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        position: absolute;
        top: 0px;
    }
    .gioithieu-banner-1-para-1{
        height: 793px;
        width: 100%;
        position: absolute;
        top: 71px;
    }
    .gioithieu-banner-1-para-1 p{
        font-family: SVN-Athena;
        color: black;
        font-size: 24px;
        font-weight: light;
        text-align: left;
    }
    .gioithieu-banner-1-para-1-1{
        position: absolute;
        top: 0px;
    }
    .gioithieu-banner-1-para-1-2{
        position: absolute;
        bottom: 0px;
    }
    .gioithieu-banner-1-para-intro-1{
        height: 250px;
        width: 100%;

        background-image: url(./banner-1/intro1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;

        position: absolute;
        top: 872px;
        left: 0px;
    }
    .gioithieu-banner-1-para-2{
        height: 1653px;
        width: 100%;

        position: absolute;
        top: 1124px;
    }
    .gioithieu-banner-1-para-2 p{
        font-family: SVN-Athena;
        color: black;
        font-size: 24px;
        font-weight: light;
        text-align: left;
    }
    .gioithieu-banner-1-para-2-1{
        position: absolute;
        top: 0px;
    }
    .gioithieu-banner-1-para-2-2{
        position: absolute;
        bottom: 0px;
    }
    .gioithieu-banner-1-para-intro-2{
        display: none;
    }
    /* footer */
    .gioithieu-footer-1-container {
        width: 100%;
        height: 335px;
        position: relative;
    }
    .gioithieu-footer-1{
        width: 1920px;
        height: 100%;

        background-color: #f1f1e7;
        background-image: url(./Footer/fotter-tea.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 292px 188px;

        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%,0);
    }
    /* footer content 1 */
    .gioithieu-footer-1-content-1{
        width: 183px;
        height: 117px;

        background-image: url(./Footer/logophongtra.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 150px 40px;

        position: absolute;
        left: 887px;
        top: 11px;  
    }
    .gioithieu-footer-1-content-1-informations{
        width: 100%;
        height: 67px;

        position: absolute;
        bottom: 0px;
    }
    .gioithieu-footer-1-content-1-informations p{
        font-family: SVN-Athena;
        color: black;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
    }
    /* footer content 2 */
    .gioithieu-footer-1-content-2{
        width: 166px;
        height: 86px;

        position: absolute;
        left: 887px;
        top: 129px;
    }
    .gioithieu-footer-1-content-2-title{
        font-family: SVN-Athena;
        color: black;
        font-size: 17px;
        font-weight: bold;
        text-align: left;
    }
    .gioithieu-footer-1-content-2-informations{
        width: 100%;
        height: 64px;

        position: absolute;
        bottom: 0px;
    }
    .gioithieu-footer-1-content-2-informations a{
        font-family: SVN-Athena;
        color: black;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        text-decoration: none;
    }
    /* footer content 3 */
    .gioithieu-footer-1-content-3{
        width: 171px;
        height: 97px;
        
        position: absolute;
        left: 887px;
        top: 231px;
    }
    .gioithieu-footer-1-content-3-title{
        font-family: SVN-Athena;
        color: black;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        text-decoration: none;
    }
    .gioithieu-footer-1-content-3-imagine-links{
        height: 33px;
        width: 98px;

        display: flex;
        justify-content: space-between;

        position: absolute;
        left: 0px;
        top: 35px;
    }
    .gioithieu-footer-1-content-3-imagine-links a img{
        height: 32px;
        width: 32px;
    }
    .gioithieu-footer-1-content-3-p{
        height: 25px;
        width: 100%;
        position: absolute;
        bottom: 0px;
    }
    .gioithieu-footer-1-content-3-p p{
        font-family: SVN-Athena;
        color: black;
        font-size: 10px;
        font-weight: bold;
        text-align: left;
        text-decoration: none;
    }
}

@media only screen and (max-width: 682px){
    /* top header */
    
}

@media only screen and (max-width: 570px){
    /* top header */
    
}

@media only screen and (max-width: 460px){
    /* top header */
    .bottom-header-titles{
        height: 95px;
        width: 337px;
        position: absolute;
        left: 794px;
        top: 118px;
    }
}

@media only screen and (max-width: 375px){
    /* top header */
}

@media only screen and (max-width: 296px){
    /* top header */
}